body {
    margin:0px;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

#contents{
    margin:0 20px;
    padding-top:60px;
}

.title {
    margin:0;
    padding:10px 10px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #356aa0), color-stop(0.00, #5085bb));
    background: -webkit-linear-gradient(top, #5085bb 0%, #356aa0 100%);
    background: -moz-linear-gradient(top, #5085bb 0%, #356aa0 100%);
    background: -o-linear-gradient(top, #5085bb 0%, #356aa0 100%);
    background: -ms-linear-gradient(top, #5085bb 0%, #356aa0 100%);
    background: linear-gradient(top, #5085bb 0%, #356aa0 100%);
    -pie-background: linear-gradient(#5085bb, #356aa0);
    border-bottom:1px solid #2d5a88;
    -moz-box-shadow: 0px 1px 2px #999;
    -webkit-box-shadow: 0px 1px 2px #999;
    font-size:16px;
    color:#fff;
    line-height:1;
    width:100%;
    position:fixed;
    z-index: 10000;
    behavior: url(css/PIE.htc);
}

h1 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: x-large;
    text-decoration: underline;
}

a {
    text-decoration:none;
    color:#234979;
}

a:hover {
    color:#0071ff;
}

#buttons {
    text-align:right;
    margin:5px;
    padding:5px
}

#content {
    margin:5px;
    padding:5px
}

#pages {
    text-align:center;
    margin:5px;
    padding:5px
}

table.data {
    border-collapse:collapse;
    border-width:1px solid #C1DAD7;
    text-align:center;
    width: 100%;            /* added */
    table-layout: fixed;    /* added */
    background:#fff;
    margin-bottom:30px;
}

.data th {
    border-collapse:collapse;
    border:1px solid #C1DAD7;
    padding:5px;
    text-align:center;
    vertical-align: top;
    font-weight:bold;
    background-color:#E2EBF0;
    width: 100px;    /* added */
}

.data td {
    border-collapse:collapse;
    border-width:1px;
    border-style:solid;
    border-color:#C1DAD7;
    padding:5px;
    vertical-align: top;
}

.datum {
	display:block;
	border:1px solid #c7dce7;
	margin-bottom:2px;
	padding:2px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #c5dbe7), color-stop(0.00, #e2ebf0));
	background: -webkit-linear-gradient(top, #e2ebf0 0%, #c5dbe7 100%);
	background: -moz-linear-gradient(top, #e2ebf0 0%, #c5dbe7 100%);
	background: -o-linear-gradient(top, #e2ebf0 0%, #c5dbe7 100%);
	background: -ms-linear-gradient(top, #e2ebf0 0%, #c5dbe7 100%);
	background: linear-gradient(top, #e2ebf0 0%, #c5dbe7 100%);
	-pie-background: linear-gradient(#e2ebf0, #c5dbe7);
	text-align:center;
	text-decoration:none;
	width: 86px;
	vertical-align: bottom;
	border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
	position:relative;
	
	behavior: url(css/PIE.htc);
}

.datum:hover{
    cursor:url(../images/cursor_drag.gif);
}

/* 行の１列目 */
.data td.termColumn{
    vertical-align:top;
/*height:100%;*/
}

.data td.termColumn div.term {
    height: 100%;
    position: relative;
}

.datum th {
    border-width:0px;
}

.datum td {
    text-align:center;
    border-width:0px;
}

table.frame {
    width:600px;
    border-width:0px;
    text-align:left
}

.frame th, td {
    border-width:0px;
}

.frame thead {
    text-align:right;
    font-style:italic;
}

.frame tbody {
}

.frame tfoot {
    padding-top:2cm;
    text-align:center;
    font-style:italic;
}

.frame th {
    text-align:left;
    background-color: #EECCCC
}

.frame th {
    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #00FF00, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,  left top, right top, from(#00FF00), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(  StartColorStr='#00FF00', EndColorStr='#FFFFFF', GradientType=1);
}

#config {
    background-color: #EEEEEE
}


/* drop領域 */
th.dropArea {
    width: 150px;
}

th.dropArea .datum:hover {
    cursor:auto;
}

/* 削除ボタン */
.removeBtn {
    float: left;
    padding: 0px;
    width: 10px;
    height: 10px;
    position:relative;
    top:0%;
}

.removeBtn img {
    padding: 0px;
    /*position:relative; top:0%;*/
    vertical-align: top;
}

/* Dropボタン */
.dropBtn {
    z-index: 10000;
    float: right;
    /* border-width:1px;*/
    /* border-style:solid; 
       border-color:#888888;*/
    padding: 0px;
    width: 10px;
    height: 10px;
    margin: 0px;/*position:relative; top:0%;*/
    cursor:pointer;
}

.dropBtn img {
    padding: 0px;
    /*position:relative; top:0%;*/
    vertical-align: top;
}

/* postするときのvalue値 */
.ontoUri {
    display: none;
}

/* ドラッグ要素がover したとき */
td.orange-hover {
    background-color:#ffe3b6;
}

.dragged {
    opacity: 0.5;
}

.order {
    display: none;
}

.moving {
    /*background-color:#a2c8ee;*/
    border:3px outset #c7dce7;
    cursor:url(../images/cursor_dragging.gif)
}

.moving_origin {
    background-color:#a2c8ee;
    opacity: 0.5;
    cursor:url(../images/cursor_dragging.gif);
}

#dragIndicatorBox {
    height: 10px;
    margin-left:0px;
    width:10px;
    padding: 0px;
}

#dragIndicator {
	height: 10px;
	margin-left:0px;
	width:10px;
	padding: 0px;
	display: none;
}

.showHideColumnsWindowBtn {
 	float: right;
 	margin-right: 20px;
 	font-size:12px;
}

.showHideColumnsWindow {
	display: none;
	color: #fff;
	width: 200px;
	height: 200px;
	position:fixed; 
   overflow: auto;
	margin:0;
	padding-top:15px;
	padding-left:20px;
	padding-bottom:20px;
	padding-right:20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #356aa0), color-stop(0.00, #5085bb));
	background: -webkit-linear-gradient(top, #5085bb 0%, #356aa0 100%);
	background: -moz-linear-gradient(top, #5085bb 0%, #356aa0 100%);
	background: -o-linear-gradient(top, #5085bb 0%, #356aa0 100%);
	background: -ms-linear-gradient(top, #5085bb 0%, #356aa0 100%);
	background: linear-gradient(top, #5085bb 0%, #356aa0 100%);
	-pie-background: linear-gradient(#5085bb, #356aa0);
	border-bottom:1px solid #2d5a88;
	-moz-box-shadow: 0px 1px 2px #999;
	-webkit-box-shadow: 0px 1px 2px #999;
	behavior: url(css/PIE.htc);
}

.showHideColumnsWindow td{
	margin: 0px;
	padding-left: 2px; 
}

.showHideRowsWindowBtn {
 	float: right;
 	margin-right: 20px;
 	font-size:12px;
}

.showHideRowsWindow {
	display: none;
	color: #fff;
	width: 200px;
	height: 200px;
	position:fixed; 
	overflow: auto;
	
	margin:0;
	padding-top:15px;
	padding-left:20px;
	padding-bottom:20px;
	padding-right:20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #356aa0), color-stop(0.00, #5085bb));
	background: -webkit-linear-gradient(top, #5085bb 0%, #356aa0 100%);
	background: -moz-linear-gradient(top, #5085bb 0%, #356aa0 100%);
	background: -o-linear-gradient(top, #5085bb 0%, #356aa0 100%);
	background: -ms-linear-gradient(top, #5085bb 0%, #356aa0 100%);
	background: linear-gradient(top, #5085bb 0%, #356aa0 100%);
	-pie-background: linear-gradient(#5085bb, #356aa0);
	border-bottom:1px solid #2d5a88;
	-moz-box-shadow: 0px 1px 2px #999;
	-webkit-box-shadow: 0px 1px 2px #999;
	behavior: url(css/PIE.htc);
}

.showHideRowsWindow td{
	margin: 0px;
	padding-left: 2px; 
}

input#allOntoCheckbox {
	margin-right: 10px;	
}

input.checkOnto {
	margin-right: 10px;
}

input#allTermCheckbox {
	margin-right: 10px;	
}
input.checkTerm {
	margin-right: 10px;
}

/* checkboxのlabel */
label {
	padding-right: 20px;
}

/* 列隠しボタン */
.hideBtn {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	position:relative;
	top:0%;
	cursor:pointer;
}

.hideBtn img {
	padding: 0px;
	/*position:relative; top:0%;*/
    vertical-align: top;
}

/* 行隠しボタン */
.rowHideBtn {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	position:relative;
	top:0%;
	cursor:pointer;
}

.rowHideBtn img {
	padding: 0px;
	/*position:relative; top:0%;*/
    vertical-align: top;
}

/* カラムの中の全てのタームのドロップボタン */
.allDropBtn {
	float: right;
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	position:relative;
	top:0%;
	cursor:pointer;
}

.allDropBtn img {
	padding: 0px;
	/*position:relative; top:0%;*/
    vertical-align: top;
}

.allClearBtn {
	display:block;
	border:1px solid #c7dce7;
	margin-bottom:2px;
	margin-left: 30px;
	padding:2px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #ccc), color-stop(0.00, #e2ebf0));
	background: -webkit-linear-gradient(top, #e2ebf0 0%, #ccc 100%);
	background: -moz-linear-gradient(top, #e2ebf0 0%, #ccc 100%);
	background: -o-linear-gradient(top, #e2ebf0 0%, #ccc 100%);
	background: -ms-linear-gradient(top, #e2ebf0 0%, #ccc 100%);
	background: linear-gradient(top, #e2ebf0 0%, #ccc 100%);
	-pie-background: linear-gradient(#e2ebf0, #ccc);
	text-align:center;
	text-decoration:none;
	width: 86px;
	vertical-align: bottom;
	border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
	cursor:pointer;
}

/* テーブルのカラムの1番め */
.ontoTerm {
	font-size:16px;
	font-weight:bold;
	background-color: #c7dce7; 
}

/* ハサミ */
#scissors {
	margin-right: 10px;
	border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
   float:right;
	z-index: 10001;
	background-color: #fff;
	cursor:pointer;
}

/* ハサミがドラッグ中に適用されるクラス */
.scissors {
	margin-right: 10px;
	border-radius: 4px; 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;
   float:right;
	z-index: 10001;
	background-color: #fff;	
}

.scissors_color {
	background-color: #aaaaaa;
	color: red;
}

th.orange-hover {
	background-color:#ffe3b6;
}

/* TH中のsnapPoint */
.snapPoint {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 5px;
	height: 10px;
	position:relative;
	top:0%;
	*background-color: #cccccc;
}

/* フローティングカラムヘッダのダミースペース
.leftDummySpace {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	position:relative;
	top:0%;
}

.rightDummySpace {
	float: right;
	padding: 0px;
	width: 10px;
	height: 10px;
	position:relative;
	top:0%;
}
*/

#floatingColumn {
	top: 50px;
	left: 20px;
	position:absolute;
	display:block;
	width: 97%;
	opacity:0.8;
}


#floatingColumnHeader {
	border-bottom: solid 3px #999999;
}

/* 列隠しボタン */
.f_hideBtn {
	float: right;
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	position:relative;
	top:0%;
	cursor:pointer;
}

/* カラムの中の全てのタームのドロップボタン */
.f_allDropBtn {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
	position:relative;
	top:0%;
	cursor:pointer;
}


#floatingRow {
	top: 70px;
	left: 20px;
	position:absolute;
	display:block;
	opacity:0.8;
	
	/*border:2px solid #666666;*/
}


#floatingRow table {
	width: 250px;

}

#floatingRow table th{
	/*padding-bottom: 10px;*/
}

#floatingRow table td{
	
}


#floatingRow table td.dummyCol{
	padding: 0px;
}

#floatingRow table td.dropArea{
	border-right: solid 3px #999999;
}

#floatingRow table th.dropArea{
	border-right: solid 3px #999999;
}




.dummyDiv {
    padding:0px;
    margin:0px;
    width:200px;
}

.dummyCell {
    width:0px;
    display: block;
    border:none;
    margin:0px;
    padding:0px;
}



#confirmPanel {
    font-size:12px;
    font-weight: bold;
    padding: 20px;
    width: 200px;
    height: 80px;
    color: #fff;
    background-color: #356aa0;
    border:1px solid #c7dcd7;
    text-align:center;
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
}

#confirmPanel div {
    padding: 10px;
    text-align:center;
}

#confirmPanel div input {
    margin: 10px;
    font-weight: normal;
    text-align:center;
}

/* tooltip */
.tooltip {
    width:100px;
    background-color:#cccccc;
    padding: 10px;
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border:1px solid #666666;
}

p.ontoInput{
    font-size:18px;
}

p.ontoInput input[type="text"]{
    margin:0 10px;
    color:#555;
    padding:5px;
}

.uri_btn{
    width:120px;
    height:35px;
    color:#fff;
    border:none;
    font-size:14px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #366ba1), color-stop(0.00, #4f84ba));
    background: -webkit-linear-gradient(top, #4f84ba 0%, #366ba1 100%);
    background: -moz-linear-gradient(top, #4f84ba 0%, #366ba1 100%);
    background: -o-linear-gradient(top, #4f84ba 0%, #366ba1 100%);
    background: -ms-linear-gradient(top, #4f84ba 0%, #366ba1 100%);
    background: linear-gradient(top, #4f84ba 0%, #366ba1 100%);
    -pie-background: linear-gradient(#4f84ba, #366ba1);
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    position:relative;
    behavior: url(PIE.htc);
}

