<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <link rel="stylesheet" href="css/ontofinder.css" type="text/css" />
  <title>OntoFinder</title>
  <script type="text/javascript">
    function putExample()
    {
    document.getElementById("data").innerHTML="<%= @examples %>"
    }
  </script>
</head>
<body>
<h1>OntoFinder</h1>
<form name="query" method="post"
      action="/mappings"
      enctype="multipart/form-data">
<table class="frame">
<thead>
<tr><td>powered by <a href="http://www.bioontology.org/">NCBO</a> <a href="http://bioportal.bioontology.org">BioPortal</a></td></tr>
</thead>
<tr><th>Data</th></tr>
<tr><td><textarea id="data" name="data" maxlength="1200" required="required" placeholder="Here, enter a newline- or tab-separated list of terms." style="height:200px; width:595px"></textarea></td></tr>
<tr><td style="text-align:right;"><a onclick="putExample()">Get an example</a></td></tr>
<tr><th><a href="#config" style="text-decoration: none;">Configuration</a></th></tr>
<tbody id="config">
<tr><td>
maxumum number of matchings per ontology (relative):<input type="text" name="maxnum_rel" size="4" value="1" />
</tr></td>
<tr><td>
maxumum number of matchings per ontology (absolute):<input type="text" name="maxnum_abs" size="4" value="5" />
</tr></td>
<tr><td>
cut-off score (0 - 1):<input type="text" name="minscore" size="4" value="0" />
</td></tr>
<tr><td>
ontologies (vids):<input type="text" name="vids" size="40" value="" />
</td></tr>
<tr><td>
<!--Boxtip <input type="checkbox" name="boxtip" value="1" />-->
<!--Factory <input type="checkbox" name="factory" value="1" checked="checked" />-->
Devel <input type="checkbox" name="devel" value="1" />
</td></tr>

<!-- <tr><td>Partial matching: <input type="checkbox" name="partial" /></td></tr> -->
</tbody>

<tr>
<td><input type="submit" name="query" value="submit" style="height: 50px; width: 600px" /></td>
</tr>

<tfoot>
<tr><td>&nbsp;</td></tr>
<tr><td>developed by <a href="http://dbcls.rois.ac.jp">DBCLS</a></td></tr>
<tr><td><font color='red'>Currently, it is a pre-alpha service for proof-of-concept, and should be treated as such.<br/>
Your notification about any problem with the service will improve it.<br/>
Contact: jdkim at dbcls dot rois dot ac dot jp</font></td></tr>
</tfoot>

</table>
</form>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
$(function(){
    $('#config').hide();
    $('a[href=#config]').click(function(){
        $($(this).attr('href')).toggle();
        return false;
    });
});
</script>
</body>
</html>
