<rdf:RDF
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns="<%= @baseuri %>"
    xmlns:owl="http://www.w3.org/2002/07/owl#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xml:base="<%= @baseuri %>">
  <owl:Ontology rdf:about=""/>

<% @terms.each do |label, uri| %>
  <owl:Class rdf:about="<%= uri %>">
    <rdfs:label rdf:datatype="http://www.w3.org/2001/XMLSchema#string"><%= label %></rdfs:label>
  </owl:Class>

<% end %>
</rdf:RDF>
