<!DOCTYPE html>
<html language="english">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>OntoFinder - results</title>

<!-- 1. read CSS sheets -->
<link href="css/ontofinder.css" media="screen" rel="stylesheet" type="text/css" />

<!-- 2. read javascripts -->
<script type="text/javascript" src="js/balloon.js"></script>
<script type="text/javascript" src="js/balloon.config.js"></script>
<script type="text/javascript" src="js/box.js"></script>
<script type="text/javascript" src="js/config.box.js"></script> 
<script type="text/javascript" src="js/yahoo-dom-event.js"></script> 
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.tools.min.js"></script>
<script type="text/javascript" src="js/dragtable.js"></script>
<script type="text/javascript" src="js/ontofinder.js"></script>
</head>
<body>

<!-- 3. Title section -->
<div class="title">
  <img src="images/ontofactory-title.png" width="160" alt="OntoFactory">
  <!--img src="images/ontofinder-title.gif" alt="OntoFactory"-->
  <!--h1>OntoFinder</h1-->

  <!-- 4. the on/off button for row show/hide control -->
  <div class="showHideRowsWindowBtn"><input type="button" name="show_hide" value="Show / Hide rows"></div>

  <!-- 5. the on/off button for column show/hide control -->
  <div class="showHideColumnsWindowBtn"><input type="button" name="show_hide" value="Show / Hide columns"></div>

  <!-- 6. scissors tool -->
  <div id="scissors" title="Drag to some column header, then hide all right hand columns."><img src="images/scissors7.gif"></div>
</div>


<!-- 7. The content section -->
<div id="contents">

<!-- 8. The position indicator during column dragging -->
<div id="dragIndicatorBox">
	<div id="dragIndicator"><img src="images/indicator.gif"></div>
</div>

<%= @results %>

<!-- 24. confirm pane after the scissors tools is dropped -->
<div id="confirmPanel">Hide all the colums to the right.
  <div><input type="button" value="OK"/><input type="button" value="Cancel"/></div>
</div>

</div>
<!-- end of the content section -->

<!-- 25. define the floating column header. -->
<div id="floatingColumn"></div>

<!-- 26. define the floating row header -->
<div id="floatingRow"></div>

<!-- 27. pane for column show/hide control -->
<div id="showHideColumnsWindow" class="showHideColumnsWindow" ></div>

<!-- 28. pane for row show/hide control -->
<div id="showHideRowsWindow" class="showHideRowsWindow" ></div>

</body>
</html>
